<div class="col-xs-12 col-md-6">
  <form id="api">
    <input name="country" type="text" id="country" value="<%= params['country'] %>"placeholder="country">
    <input name="month" type="number" id="month" value="<%= params['month'] %>"placeholder="month">
    <input name="year" id="year" value="<%= params['year'] %>" type="number" placeholder="year">
    <button type="submit">Submit</button>
  </form>
</div>

<div class="col-xs-12 col-md-6">
  <% if params.any? %>
    <% @holidays = Array.new %>
    <p> Results </p>
    <ul>
    <%
      begin
        @holidays = HolidApi.get(country: params['country'], year: params['year'], month: params['month']) 
      rescue
    %>
      <li>Form error, please redo and try again</li>
    <% end %>
    
    <% if @holidays.any? %>
      <% @holidays.each do |hol| %>
          <li><%= hol[0]['name'] %></li>
      <% end %>
      </ul>
    <% end %>
    
  <% end %>
</div>
