<!DOCTYPE html>
<html lang="en">
  <head>
    <%= yield %>
  </head>
  <body class="container">
	<div class="col-xs-12 col-md-6">
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-6">
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
		<img src="img/1.jpg"></img>
	</div>
  </body>
</html>